*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #2e3192,#1aabab);
    padding: 10px;
}
.toDoApp {
    width: 100%;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px  ;
    border: 10px;
}
.toDoApp h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.toDoApp h2 img {
    width: 30px;
    margin-left: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    padding: 10px;
    border: none;
    background: transparent;
}
input::placeholder{
    color: rgb(93, 90, 90);
    font-size: 16px;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #ddd;
    font-size: 16px;
    cursor: pointer;
    border-radius: 45px;
}
ul li {
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li span {
    position: absolute;
    right: 0;
    top: 5;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #000;
    text-align: center;
}


@media screen and (max-width: 360px) {
    .toDoApp {
        width: 90%;
        
    }
    button{
        margin-left: -30px;
        border: none;
        padding: 8px 25px;
        background: #ff5945;
        color: #ddd;
        font-size: 10px;
        cursor: pointer;
        border-radius: 25px;
    }
    input:focus{
        outline: none;
    }
    input{
        position: relative;
        right: 20px;
    }
    ul li  {
        right: 20px;
    }
}

